.l-header {
  width: 100%;
  padding-top: 25px;
  background: $mainColor;
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 40px;
    margin: 0 auto 30px;
    @include mq(tb) {
      width: auto;
      max-width: none;
      margin-left: 10px;
    }
    @include mq(sp) {
      width: auto;
      max-width: none;
      margin: 0 30px;
    }
  }
  &__head {
    padding: 0;
    margin: 0;
    color: $subColor;
    &-text {
      font-size: 4rem;
    }
    &-link {
      margin-left: 10px;
      color: $subColor;
    }
    &-icon {
      font-size: 4rem;
    }
  }
  &__text {
    padding: 0;
    margin: 10px 0 0 10px;
    font-size: 2rem;
    color: $subColor;
    
  }
}
