.l-nav {
  position: sticky;
  top: 0;
  grid-row: 1;
  grid-column: 1;
  width: 80%;
  padding: $contentTop 0 0 20px;
  margin: 20px auto;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  @include mq(sp) {
    position: relative;
    grid-column: 1 / span 2;
    padding-bottom: 50px;
  }
  &__title {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 2rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }
  &__item {
    margin-left: 20px;
    &-link {
      color: $mainColor;
      text-decoration: none;
    }
  }
}